@model IEnumerable<FinalProject1ForMVC.Models.Categoryproduct1>

@{
    ViewData["Title"] = "Index category product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              Category product name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagepath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoryproductname)
            </td>
            <td>
                <img src=@Url.Content("~/Images/" + item.Imagepath)
                     asp-append-version="true" style="border-radius:20%;" width="100" height="100" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Storename)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Categoryproductid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Categoryproductid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Categoryproductid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
