@model FinalProject1ForMVC.Models.Deliveryinfo

@{
    ViewData["Title"] = "Details";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h1>Details</h1>

<div>
    <h4>Deliveryinfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deliverycharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deliverycharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deliveryfreeabove)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deliveryfreeabove)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numberofdaydelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numberofdaydelivery)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
