@model IEnumerable<FinalProject1ForMVC.Models.Deliveryinfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h1>Index</h1>

<p>
    delivery information 
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Delivery charge
            </th>
            <th>
               Delivery free above
            </th>
            <th>
                Number of day delivery
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deliverycharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deliveryfreeabove)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numberofdaydelivery)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
